version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - recruitment_network

  backend:
    build: 
      context: ./backend
    container_name: backend_container
    restart: always
    environment:
      PORT: 5000
      MONGO_URI: mongodb://mongodb:27017/recruitmentDB
      NODE_ENV: development
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app 
      - /usr/src/app/node_modules
    depends_on:
      - mongodb
    networks:
      - recruitment_network

  frontend:
    build: 
      context: ./frontend
      target: development-stage
    container_name: frontend_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:5000/api
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - recruitment_network

volumes:
  mongo_data:

networks:
  recruitment_network:
    driver: bridge
